* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(45deg, #334, #778);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: linear-gradient(45deg, #112, #556);
  height: 450px;
  width: 320px;
  border-radius: 16px;
  box-shadow: 5px -5px 10px #fff6, -3px 3px 13px #000;
  border: 1px solid #535456;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.uppercontent {
  width: 100%;
  display: flex;
  justify-content: center;
}

.uppercontent input {
  margin: 25px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  text-align: start;
  padding: 16px;
  background: transparent;
  box-shadow: -2px 2px 5px #000 inset, 2px -2px 5px #fff6 inset;
  width: calc(100% - 90px);
}

input::placeholder {
  color: white;
  font-size: 20px;
  text-align: start;
  padding: 10px;
}

div {
  display: flex;
  justify-content: center;
  width: 100%;
}

input[type="button"] {
  height: 3rem;
  width: 3rem;
  margin: 8px 12px;
  border: none;
  outline: none;
  background: transparent;
  box-shadow: -2px 2px 5px #000, 2px -2px 5px #fff6;
  font-size: 15px;
  border-radius: 15px;
  color: #fff;
  font-weight: 500;
}
