* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ecf0f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #ecf0f3;
  height: 450px;
  width: 320px;
  border-radius: 16px;
  box-shadow: inset 5px 5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: center;
}

.uppercontent input {
  width: 15vw;
  height: 7vh;
  margin: 30px 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  color: black;
  font-size: 20px;
  text-align: center;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff,
              inset 5px 5px 15px rgba(0, 0, 0, .16);
}

input::placeholder {
  color: rgba(0, 0, 0, 0.578);
  font-size: 20px;
  text-align: center;
}

input[type="button"] {
  height: 3rem;
  width: 3rem;
  padding-block: 20px;
  margin-block: 8px;
  margin-inline: 7px;
  border: none;
  outline: none;
  background-color: #ecf0f3;
  box-shadow:  -5px -5px 12px #ffffff,
               5px 5px 15px rgba(0, 0, 0, .16);
  font-size: 15px;
  border-radius: 15px;
  color: rgb(33, 29, 29);
  font-weight: 500;
}


